{% extends 'shared/mainhtml.html' %}
{% block content %}
    <!-- BEGIN .main-content-wrapper -->
			<section class="main-content-wrapper clearfix">

				<!-- BEGIN .single-full-width -->
				<section class="single-full-width clearfix">

					<!-- BEGIN .main-login -->
					<div class="main-login">
						<form method="POST">
                            <!-- in ghesmate errore forme login o ba css mikham ostad konam -->
                            {% csrf_token %}
							{{ login_form }}
							<p>
								<label></label>
								<a href="#">رمز ورود خود را فراموش کرده اید?</a>
							</p>
							<p class="sign-in">
								<label></label>
								<button>ورود به برنامه</button>
								<b>or <a href='/'>
بازگشت به فروشگاه
</a></b>
							</p>
						</form>
					<!-- END .main-login -->
					</div>



					<!-- END .guest-login -->
					</div>

				<!-- END .single-full-width -->
				</section>

			<!-- END .main-content-wrapper -->
			</section>
{% endblock %}