{% extends "shared/mainhtml.html" %}
{% load static %}

{% block content %}
<div class="homepage-columns clearfix"  style="text-align: center;">
    <div class="main-title clearfix" style="text-align: center;">
    <div class="about-us" style="text-align: center;" >

						<div class="main-title clearfix " style="text-align: center;">
					<h1>پروژه دکتر جماعت</h1>
						</div>

						<p>امیرحسین حاجتی  </p>
						<p>  محمد کریم زاده</p>
						<a href="#" class="phone">09120727239</a>
						<a href="#" class="email">hjamir75@gmail.com</a>

					<!-- END .about-us -->
					</div>

</div>
</div>

{% endblock %}