{% load static %}
<!-- BEGIN .main-footer-wrapper -->
			<footer class="main-footer-wrapper">

				<!-- BEGIN .main-footer -->
				<div class="main-footer clearfix" dir=ltr>

					<!-- BEGIN .navigation -->
					<div class="navigation">
						<div class="main-title clearfix">
							<p>ناوبری</p>
						</div>
						<ul>
							<li><a href="#">صفحه اصلی</a></li>

							<li><a href="#">
موارد ویژه
</a></li>
							<li><a href="#">
اخبار وبلاگ
</a></li>
							<li><a href="#">ویژگی ها</a></li>
							<li><a href="#">
تماس و اطلاعات
</a></li>
						</ul>
					<!-- END .navigation -->
					</div>

					<!-- BEGIN .twitter -->
					<div class="twitter">
						<div class="main-title clearfix">
							<p>
آخرین تویت ها
</p>
						</div>
						<div class="items">
							<div class="item">
								<a href="#"></a>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است<a href="#"></a>
							</div>
							<div class="item">
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است<a href="#">#

لورم ایپسوم</a>

لورم ایپسوم
							</div>
							<div class="item">
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
							</div>
						</div>
					<!-- END .twitter -->
					</div>

					<!-- BEGIN .newsletter -->
					<div class="newsletter">
						<div class="main-title clearfix">
							<p>خبرنامه</p>
						</div>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
						<p><b>لورم ایپسوم متن ساختگی با تولید سادگی </b></p>
						<form action="#">
							<input type="text" placeholder="e-mail address" />
						</form>
					<!-- END .newsletter -->
					</div>

					<!-- BEGIN .about-us -->
					<div class="about-us">
						<div class="main-title clearfix">
							<p>درباره ما</p>
						</div>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
						<div class="social clearfix">
							<a href="#" class="youtube"></a>
							<a href="#" class="facebook"></a>
							<a href="#" class="twitter"></a>
							<a href="#" class="flickr"></a>
							<a href="#" class="rss"></a>
							<a href="#" class="pinterest"></a>
						</div>
						<div class="cards clearfix">
							<a href="#" class="visa"></a>
							<a href="#" class="mastercard"></a>
							<a href="#" class="paypal"></a>
							<a href="#" class="discover"></a>
							<a href="#" class="americanexpress"></a>
							<a href="#" class="google"></a>
						</div>
					<!-- END .about-us -->
					</div>

				<!-- END .main-footer -->
				</div>

				<!-- BEGIN .copyleft -->
				<div class="copyleft">


کپی رایت@2015 تمام حقوق مادی و معنوی این سایت متعلق به گروه امیر حسین حاجتی و محمد کریم زاده می باشد
<a href="#"><img src="{% static "images/blank.png" %}" alt="Planetshine" class="planetshine" /></a>

				<!-- END .copyleft -->
				</div>

				<a href="#" class="full-size-switcher">
تبدیل به نسخه در اندازه کامل
</a>

			<!-- END .main-footer-wrapper -->
			</footer>